---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-deployment
  namespace: chatapp
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: surendraprajapati/chatapp-backend:latest
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql-service.chatapp.svc.cluster.local:3306/chatapp
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          value: root
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"   
          limits:
            memory: "512Mi"
            cpu: "1000m"  
---

kind: Service
apiVersion: v1
metadata:
  name: backend-service
  namespace: chatapp
spec:
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 30001
  type: NodePort
