---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: chatapp-pv
  namespace: chatapp
spec:
  storageClassName: retain
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /var/lib/mysql

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: chatapp-pvc
  namespace: chatapp
spec:
  storageClassName: retain
  volumeName: chatapp-pv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  namespace: chatapp
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:5.7
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "root"
        - name: MYSQL_DATABASE
          value: "chatapp"
        ports:
        - name: mysql
          containerPort: 3306
        volumeMounts:
        - name: mysql-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: chatapp-pvc

---
kind: Service
apiVersion: v1
metadata: 
  name: mysql-service
  namespace: chatapp
spec:
  selector:
    app: mysql
  ports:
  - port: 3306
    targetPort: 3306    