
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: chatapp
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata: 
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend-container
        image: surendraprajapati/chatapp-frontend:latest
        env:
        - name: REACT_APP_BACKEND_URL
          value: http://localhost:30001
          # value: http://backend-service.chatapp.svc.cluster.local:30001
        ports:
        - containerPort: 80
      # resource:
      #   requests:
      #     memory: "128Mi"
      #     cpu: "250m"
      #   limits:
      #     memory: "256Mi"
      #     cpu: "500m"
---
kind: Service
apiVersion: v1
metadata:
  name: frontend-service  
  namespace: chatapp
spec:
  selector:
    app: frontend
  type: NodePort
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30000
    


